@model ProIcbf.Models.ViewModels.NinoVM

@{
    ViewData["Title"] = "Nino_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var maxDate = new DateTime(2018, 1, 1).AddYears(6).ToString("yyyy-MM-dd");
}

@if (Model.oNino.IdNino == 0)
{
    <div class="row justify-content-center">
        <div class="col-md-12 text-center bg-success">
            <h1>Crear Niño</h1>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col-md-12 text-center bg-success">
            <h1>Editar Niño</h1>
        </div>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="mb-0">Detalle del Niño</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Nino_Detalle" asp-controller="Nino" method="post">
                        <input type="hidden" asp-for="oNino.IdNino" />

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Nombre">Nombre</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Nombre" type="text" required />
                                <span class="text-danger" id="nombreNinoError" style="display: none;">Ya existe un niño registrado con este nombre.</span>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Fecha">Fecha de Nacimiento</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Fecha" type="date" max="@maxDate" id="fechaNacimiento" required />
                                <span class="text-danger" id="fechaNacimientoError" style="display: none;">El niño debe tener menos de 6 años.</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Sangre">Grupo Sanguíneo</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Sangre" type="text" required />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Ciudad">Ciudad</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Ciudad" type="text" required />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Telefono">Teléfono</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Telefono" type="text" required />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Direccion">Dirección</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Direccion" type="text" required />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.Eps">EPS</label>
                                <input class="form-control form-control-sm" asp-for="oNino.Eps" type="text" required />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.IdUsuario">Identificación de acudiente</label>
                                <select class="form-select form-select-sm" asp-for="oNino.IdUsuario" asp-items="@Model.oListaUsuario" required>
                                    <option selected disabled>---SELECCIONAR---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" asp-for="oNino.IdJardin">Jardín</label>
                                <select class="form-select form-select-sm" asp-for="oNino.IdJardin" asp-items="@Model.oListaJardin" required>
                                    <option selected disabled>---SELECCIONAR---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12 d-flex justify-content-between">
                                @if (Model.oNino.IdNino == 0)
                                {
                                    <button class="btn btn-success btn-sm" type="submit">Crear</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-sm" type="submit">Actualizar</button>
                                }
                                <a class="btn btn-dark btn-sm" asp-action="Nino" asp-controller="Nino">Volver</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("fechaNacimiento").addEventListener("change", function () {
            var inputDate = new Date(this.value);
            var today = new Date();
            var minDate = new Date(2018, 0, 1); // 1 de enero de 2018
            var maxDate = new Date(today.getFullYear() - 6, today.getMonth(), today.getDate()); // Hace exactamente 6 años a partir de hoy

            if (inputDate <= minDate || inputDate >= maxDate) {
                document.getElementById("fechaNacimientoError").style.display = "inline";
            } else {
                document.getElementById("fechaNacimientoError").style.display = "none";
            }
        });

        // Función para verificar el nombre del niño al cambiar el valor del campo
        $('#oNino_Nombre').change(function () {
            var nombreNino = $(this).val();
            if (nombreNino) {
                $.ajax({
                    url: '/Nino/VerificarNombreNino',
                    type: 'GET',
                    data: { nombreNino: nombreNino },
                    success: function (response) {
                        if (response.existe) {
                            $('#nombreNinoError').show();
                            $(':input[type="submit"]').prop('disabled', true);
                        } else {
                            $('#nombreNinoError').hide();
                            $(':input[type="submit"]').prop('disabled', false);
                        }
                    }
                });
            }
        });

        // Mostrar alerta si la fecha de nacimiento es anterior a 2018 o excede los 6 años
        $(document).ready(function () {
            $('#fechaNacimiento').trigger('change'); // Ejecutar la validación al cargar la página

            $('#fechaNacimiento').on('change', function () {
                var inputDate = new Date($(this).val());
                var today = new Date();
                var minDate = new Date(2018, 0, 1); // 1 de enero de 2018
                var maxDate = new Date(today.getFullYear() - 6, today.getMonth(), today.getDate()); // Hace exactamente 6 años a partir de hoy

                if (inputDate <= minDate || inputDate >= maxDate) {
                    alert('La fecha de nacimiento no puede ser anterior a 2018 o de un niño mayor a 6 años.');
                }
            });
        });
    </script>
}
